body {
    background: linear-gradient(135deg, #8C90A4 0%, #0004CB 57%, #0A3975 100%);
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 200%;
    color: #AFAFAF;
    margin: auto;
    max-width: 500px;
}

#JsTimer {
    text-align: center;
}

#timer {
    background: #fff;
    color: #000;
    width: 100px;
    margin: 50px auto;

}

button {
    border: none;
    padding: 18px 10px;
    font: 1.2em;
    width: 180px;
    margin: auto 10px;


}

button:hover {
cursor: pointer;
background-color: #0e4da0;
color: rgb(0, 0, 0);
transaction; //fix later
}